@model IEnumerable<Mangement_System.Models.User>

@{
    ViewData["Title"] = "Index";
}
<section class="any-page-table">
    <div class="page-header">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary">إضافة مستخدم</a>
        <h3>المستخدمين</h3>
    </div>
    <div class="table-responsive" id="Table">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="no-break">
                    <th>#</th>
                    <th>اسم الأول</th>
                    <th>اسم الأخير</th>
                    <th>اسم المستخدم</th>
                    <th>الرقم السرى</th>
                    <th>تحكم</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <!-- if Not Result -->
                        <td colspan="6"><b>لا يوجد بيانات</b></td>
                    </tr>
                }
                @{int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="no-break">@i</td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>@item.Password</td>
                        <td>
                            <a class="btn btn-danger confirm" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


