@model Mangement_System.Data.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <h3>اسم الجروب : @Model.GroupName</h3>
    <h3>المحفظ : @Model.employee.Name</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               StudentName
            </th>
            <th>
                school
            </th>
            <th>
                phone
            </th>
            <th>
                FatherJob
            </th>
            <th>
                Birthdate
            </th>
            <th>
                Joinplace
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.school)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joinplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.groupId)
            </td>
            <td>
                <a asp-action="MoveToGroup" asp-route-id="@item.studentId">Move</a> |
                <a asp-controller="WaitingStudent" asp-action="Delete" asp-route-id="@item.studentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
