@model IEnumerable<Mangement_System.Data.Models.PayStudent>

@{
    ViewData["Title"] = "payment";
}
<p>
    <a style="text-decoration:none" asp-action="paystudent" asp-route-id="@ViewBag.GroupId">دفع</a>
</p>
<div class="table-responsive" id="Table">
    <table class="table table-bordered table-striped th-center">
        <thead>
            <tr class="no-break">
                <th width="3%">#</th>
                <th>اسم الطالب</th>
                <th width="11%">المبلغ</th>
                <th width="11%">تاريخ الدفع</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <!-- if Not Result -->
                    <td colspan="5"><b>لا يوجد بيانات</b></td>
                </tr>
            }
            @{int i = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="no-break">@i</td>
                    <td>
                        @item.student.StudentName
                    </td>
                    <td>@item.TotalPay</td>
                    <td>@item.date.ToString("yyyy/MM/dd")</td>
                    <td>
                        <a style="text-decoration:none" asp-action="EditPayStudent" asp-route-id="@item.PayStudentId" asp-route-groupId="@item.student.GroupId">تعديل</a>
                        <br />
                        <a style="text-decoration:none" asp-action="DeletePayStudent" asp-route-id="@item.PayStudentId" asp-route-groupId="@item.student.GroupId">حذف</a>
                        
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>