@model Mangement_System.Data.Models.Employee

@{
    ViewData["Title"] = "Delete";
}


<p class="DeletedMessage">هل متاكد من حذف هذا الموظف ؟</p>
<table class="table-responsive" id="Table">
    <tr>
        <th scope="row">الاسم :</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th scope="row">البلد :</th>
        <td>@Model.country</td>
    </tr>
    <tr>
        <th scope="row">الوظيفة :</th>
        <td>@Model.Role</td>
    </tr>
    <tr>
        <th scope="row">المرتب :</th>
        <td>@Model.Salary</td>
    </tr>
    <tr>
        <th scope="row">تاريخ الميلاد :</th>
        <td>@Model.Birthdate.ToString("yyyy/MM/dd")</td>
    </tr>
    <tr>
        <th scope="row">تاريخ الالتحاق :</th>
        <td>@Model.JoinInStaff.ToString("yyyy/MM/dd")</td>
    </tr>
</table>


<form asp-action="Delete">
    <input type="hidden" asp-for="EmployeeId" />
    <input type="submit" value="حذف" class="btn btn-danger" />
</form>

