@model IEnumerable<Mangement_System.Data.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<section class="any-page-table">
    <div class="page-header">
        <a asp-action="Create" class="btn btn-secondary">إضافة موظف</a>
        <h3>الموظفين</h3>
    </div>
    <div class="table-responsive" id="Table">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="no-break">
                    <th>#</th>
                    <th>الاسم</th>
                    <th>البلد</th>
                    <th>الوظيفه</th>
                    <th>
                        المؤهل الدراسي
                    </th>
                    <th>الهاتف</th>
                    <th>
                        الرقم القومي
                    </th>
                    <th>العنوان</th>
                    <th>النوع</th>
                    <th>الحالة الاجتماعية</th>
                    <th>المرتب</th>
                    <th>تاريخ الميلاد</th>
                    <th>تاريخ الالتحاق</th>
                    <th>تحكم</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <!-- if Not Result -->
                        <td colspan="8"><b>لا يوجد بيانات</b></td>
                    </tr>
                }
                @{int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="no-break">@i</td>
                        <td>
                            @item.Name
                        </td>
                        <td>@item.country</td>
                        <td>@item.Role</td>
                        <td>@item.Areaofstudy</td>
                        <td>@item.Phone</td>
                        <td>@item.NationalId</td>
                        <td>@item.Address</td>
                        <td>@item.gender</td>
                        <td>@item.Socialstatus</td>
                        <td>@item.Salary</td>
                        <td>@item.Birthdate.ToString("yyyy/MM/dd")</td>
                        <td>@item.JoinInStaff.ToString("yyyy/MM/dd")</td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.EmployeeId">تعديل</a>
                            <a class="btn btn-danger confirm" asp-action="Delete" asp-route-id="@item.EmployeeId">حذف</a>

                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

