@model IEnumerable<Mangement_System.Data.Models.Money>

@{
    ViewData["Title"] = "Index";
}
<section class="any-page-table">
    <div class="page-header">
        <a asp-action="Create" class="btn btn-secondary">إضافة</a>
        <h3>الصادرات</h3>
    </div>
    <div class="table-responsive" id="Table">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="no-break">
                    <th>#</th>
                    <th>الاسم</th>
                    <th>المبلغ</th>
                    <th>التاريخ</th>

                    @if (User.IsInRole("Admin"))
                    {
                        <th>تحكم</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <!-- if Not Result -->
                        <td colspan="5"><b>لا يوجد بيانات</b></td>
                    </tr>
                }
                @{int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="no-break">@i</td>
                        <td>
                            @item.MoneyName
                        </td>
                        <td>@item.TotalMoney</td>
                        <td>@item.DateOfMoney.ToString("yyyy/MM/dd")</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MoneyId">تعديل</a>
                                <a class="btn btn-danger confirm" asp-action="Delete" asp-route-id="@item.MoneyId">حذف</a>
                            </td>
                        }
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.Pagenum > 1)
            {

                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Pagenum-1)" aria-label="السابق">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">السابق</span>
                    </a>
                </li>

            }
            @for (int j = 1; j <= ViewBag.TotalPageProblem; j++)
            {
                <li class="@(ViewBag.Pagenum==j?"page-item active":"")"><a class="page-link" asp-action="Index" asp-route-page="@j">@j</a></li>
            }
            @if (ViewBag.Pagenum < ViewBag.TotalPageProblem)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Pagenum+1)" aria-label="التالى">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">التالى</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
