@model Mangement_System.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container counter-section">
    <div class="row">
        <div class="col-md-6">
            <p>الفلوس</p>
            <br />
            <p>@Model.TotalMoney</p>
        </div>
        <div class="col-md-6">
            <p>عدد الطلاب على قائمه الانتظار</p>
            <br />
            <p>@Model.NumberWaitingStudent</p>
        </div>
        <div class="col-md-6">
            <p>عدد الطلاب الملتحقين فى الكتاب</p>
            <br />
            <p>@Model.NumberStudent</p>
        </div>
        <div class="col-md-6">
            <p>عدد المجاميع</p>
            <br />
            <p>@Model.NumberGroup</p>
        </div>
        <div class="col-md-6">
            <p>عدد العاملين</p>
            <br />
            <p>@Model.Employee</p>
        </div>
    </div>
</div>
