@model Mangement_System.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="margin:14px;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"><b>الفلوس</b></h3>

                @if (User.IsInRole("Admin") || User.IsInRole("secretary"))
                {
                    <h4 class="card-text text-center"><b>@Model.TotalMoney</b></h4>
                }
                else
                {
                    <h4 class="card-text text-center"><b>------</b></h4>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"><b>عدد الطلاب على قائمه الانتظار</b></h3>
                @if (User.IsInRole("Admin") || User.IsInRole("secretary"))
                {
                    <h4 class="card-text text-center"><b>@Model.NumberWaitingStudent</b></h4>
                }
                else
                {
                    <h4 class="card-text text-center"><b>------</b></h4>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:14px;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"><b>عدد العاملين</b></h3>
                @if (User.IsInRole("Admin") || User.IsInRole("secretary"))
                {
                    <h4 class="card-text text-center"><b>@Model.Employee</b></h4>
                }
                else
                {
                    <h4 class="card-text text-center"><b>------</b></h4>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"><b>عدد المجاميع</b></h3>
                @if (User.IsInRole("Admin") || User.IsInRole("secretary"))
                {
                    <h4 class="card-text text-center"><b>@Model.NumberGroup</b></h4>
                }
                else
                {
                    <h4 class="card-text text-center"><b>------</b></h4>
                }

            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:14px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"><b>عدد الطلاب الملتحقين فى الكتاب</b></h3>
                @if (User.IsInRole("Admin") || User.IsInRole("secretary"))
                {
                    <h4 class="card-text text-center"><b>@Model.NumberStudent</b></h4>
                }
                else
                {
                    <h4 class="card-text text-center"><b>------</b></h4>
                }
            </div>
        </div>
    </div>

</div>

