@model Mangement_System.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="margin:14px;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"><b>الفلوس</b></h3>
                <h4 class="card-text text-center"><b>@Model.TotalMoney</b></h4>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center"><b>عدد الطلاب على قائمه الانتظار</b></h5>
                <h3 class="card-text text-center"><b>@Model.NumberWaitingStudent</b></h3>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:14px;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center"><b>عدد العاملين</b></h5>
                <h3 class="card-text text-center"><b>@Model.Employee</b></h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center"><b>عدد المجاميع</b></h5>
                <h3 class="card-text text-center"><b>@Model.NumberGroup</b></h3>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:14px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center"><b>عدد الطلاب الملتحقين فى الكتاب</b></h5>
                <h3 class="card-text text-center"><b>@Model.NumberStudent</b></h3>
            </div>
        </div>
    </div>
    
</div>

