@model Mangement_System.ViewModels.Student.StudentAddInGroupViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToGroup" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">اسم الطالب</label>
                <input readonly value="@Model.student.StudentName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">المدرسة</label>
                <input readonly value="@Model.student.school" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">رقم الوالد</label>
                <input readonly value="@Model.student.phone" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">وظيفة الوالد</label>
                <input readonly value="@Model.student.FatherJob" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">تاريخ الميلاد</label>
                <input readonly value="@Model.student.Birthdate.ToString("yyyy/MM/dd")" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">تاريخ التقديم</label>
                <input readonly value="@Model.student.Joinplace.ToString("yyyy/MM/dd")" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">المجموعة</label>
                <select name="GroupId" class="form-control">
                    @foreach (var item in Model.Listgroup)
                    {
                        if (Model.student.GroupId == item.groupId)
                        {
                            <option selected value="@item.groupId">@item.GroupName</option>
                        }

                        else
                        {
                            <option value="@item.groupId">@item.GroupName</option>
                        }

                    }
                </select>
            </div>
            <input hidden name="StudentId" value="@Model.student.studentId" />
            <div class="form-group">
                <input type="submit" value="أضف" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
