@model Mangement_System.ViewModels.Student.StudentAddInGroupViewModel

@{
    ViewData["Title"] = "Create";
}
<section class="any-form">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-5">إضافة لجروب</h3>
                    <form asp-action="AddToGroup" method="post">
                        <div class="form-group">
                            <input readonly value="@Model.student.StudentName" class="form-control" />
                            <small asp-validation-for="student.StudentName" class="text-danger form-text text-right"></small>
                        </div>
                        <div class="form-group">
                            <input readonly value="@Model.student.school" class="form-control" placeholder="المبلغ" />
                            <small asp-validation-for="student.school" class="text-danger form-text text-right"></small>
                        </div>
                        <div class="form-group">
                            <input readonly value="@Model.student.phone" class="form-control" placeholder="المبلغ" />
                            <small asp-validation-for="student.phone" class="text-danger form-text text-right"></small>
                        </div>
                        <div class="form-group">
                            <input readonly value="@Model.student.FatherJob" class="form-control" placeholder="المبلغ" />
                            <small asp-validation-for="student.FatherJob" class="text-danger form-text text-right"></small>
                        </div>
                        <div class="form-group">
                            <input readonly value="@Model.student.Birthdate.ToString("yyyy/MM/dd")" class="form-control" placeholder="المبلغ" />
                            <small asp-validation-for="student.Birthdate" class="text-danger form-text text-right"></small>
                        </div>
                        <div class="form-group">
                            <input readonly value="@Model.student.Joinplace.ToString("yyyy/MM/dd")" class="form-control" placeholder="المبلغ" />
                            <small asp-validation-for="student.Joinplace" class="text-danger form-text text-right"></small>
                        </div>
                        <div class="form-group">
                            <label class="control-label">المجموعة</label>
                            <select name="GroupId" class="form-control">
                                @foreach (var item in Model.Listgroup)
                                {
                                    if (Model.student.GroupId == item.groupId)
                                    {
                                        <option selected value="@item.groupId">@item.GroupName</option>
                                    }

                                    else
                                    {
                                        <option value="@item.groupId">@item.GroupName</option>
                                    }

                                }
                            </select>
                        </div>
                        <input hidden name="StudentId" value="@Model.student.studentId" />
                        <div class="form-group my-4">
                            <button type="submit" class="btn btn-primary form-control">إضافة</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
