@model Mangement_System.Data.Models.Student

@{
    ViewData["Title"] = "Delete";
}



<p class="DeletedMessage">هل متاكد من حذف هذا الطالب ؟</p>
<table class="table-responsive" id="Table">
    <tr>
        <th scope="row">اسم الطالب :</th>
        <td>@Model.StudentName</td>
    </tr>
    <tr>
        <th scope="row">المدرسة :</th>
        <td>@Model.school</td>
    </tr>
    <tr>
        <th scope="row">رقم الوالد :</th>
        <td>@Model.phone</td>
    </tr>
    <tr>
        <th scope="row">وظيفة الوالد :</th>
        <td>@Model.FatherJob</td>
    </tr>
    <tr>
        <th scope="row">تاريخ الميلاد :</th>
        <td>@Model.Birthdate.ToString("yyyy/MM/dd")</td>
    </tr>
    <tr>
        <th scope="row">تاريخ التقديم :</th>
        <td>@Model.Joinplace.ToString("yyyy/MM/dd")</td>
    </tr>
</table>


<form asp-action="Delete">
    <input type="hidden" name="studentId" value="@Model.studentId" />
    <input type="submit" value="حذف" class="btn btn-danger" />
</form>


