@model IEnumerable<Mangement_System.Data.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a style="text-decoration:none" asp-action="Create">إضافة طالب</a>
</p>
<div class="table-responsive" id="Table">
    <table class="table table-bordered table-striped th-center">
        <thead>
            <tr class="no-break">
                <th width="3%">#</th>
                <th>اسم الطالب</th>
                <th width="11%">المدرسة</th>
                <th width="11%">رقم الوالد</th>
                <th width="11%">وظيفة الأب</th>
                <th width="11%">تاريخ الميلاد</th>
                <th width="11%">تاريخ التقديم</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <!-- if Not Result -->
                    <td colspan="7"><b>لا يوجد بيانات</b></td>
                </tr>
            }
            @{int i = 1; }
            @foreach (var item in Model)
            {
                
                    string datearabic = item.Joinplace.ToString("yyyy/MM/dd").Replace('0', '\u06f0')
                        .Replace('1', '\u06f1')
                        .Replace('2', '\u06f2')
                        .Replace('3', '\u06f3')
                        .Replace('4', '\u06f4')
                        .Replace('5', '\u06f5')
                        .Replace('6', '\u06f6')
                        .Replace('7', '\u06f7')
                        .Replace('8', '\u06f8')
                        .Replace('9', '\u06f9');
                 
                <tr>
                    <td class="no-break">@i</td>
                    <td>
                        @item.StudentName
                    </td>
                    <td>@item.school</td>
                    <td>@item.phone</td>
                    <td>@item.FatherJob</td>
                    <td>@item.Birthdate.ToString("yyyy/MM/dd")</td>
                    <td>@datearabic</td>
                    <td>
                        <a style="text-decoration:none" asp-action="Edit" asp-route-id="@item.studentId">تعديل</a>
                        <br />
                        <a style="text-decoration:none" asp-action="Delete" asp-route-id="@item.studentId">حذف</a>
                        <br />
                        <a style="text-decoration:none" asp-action="AddToGroup" asp-route-id="@item.studentId">إضافة لجروب</a>
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>

